@import "external/bootstrap-custom";
@import "recipe";
@import "sidebar";
body {
    padding-top: 70px;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}