@import "variables";
@import "external/bootstrap-custom";
@import "bootswatch";
@import "recipe";
@import "sidebar";
body {
    padding-top: 90px;
}

select.form-control {
    padding-left: 10px;
}


/* Sets bottom padding under returned recipes results. */

.main-content {
    padding-bottom: 10%;
}


/* Classes for adjusting glyphicon sizes. */

.gi-xs {
    font-size: 0.25em;
}

.gi-sm {
    font-size: 0.5em;
}

.gi-md {
    font-size: 1em;
}

.gi-lg {
    font-size: 3em;
}

.gi-xl {
    font-size: 6em;
}

.gi-xxl {
    font-size: 10em;
}


/* Ensures recipe images take up a larger amount of space. */

img {
    width: 90%;
}


/* Following handles spinning the animation whilst searching for recipes. */

.glyphicon.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    .modal-wide {
        width: 80%;
    }
}
